body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: Monospace, serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a {
    color: #00ff78;
}

#info {
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
}

.dg.ac {
    z-index: 1 !important; /* FIX DAT.GUI */
}

canvas {
    width: 100%;
    height: 100%
}

.go {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 10px;
    width: 65px;
    height: 65px;
    font-size: 2em;
}

.pg {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin-right: 1em;
}

#circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: absolute;
    top: -50px;
    right: -30px;
}

.pg #text {
    margin-top: 0.5em;
    margin-right: 2em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.pg #percent {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
}

.pg #symbol {
    text-align: right;
    font-size: 2em;
    margin-top: -0.75em;
}

@font-face {
    font-family: "Century";
    src: url("../font/Gothic.ttf");
}

.century {
    font-family: Century, serif;
}