body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: Monospace, serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #00ff78;
}

#info {
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
}

.dg.ac {
    z-index: 1 !important; /* FIX DAT.GUI */
}

canvas {
    width: 100%;
    height: 100%
}

#gui {
    position: absolute;
    top: 0;
    left: 100px;
    height: 100px;
}

.go {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 10px;
    width: 65px;
    height: 65px;
    font-size: 2em;
}

.pg {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin-right: 1em;
}

#circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: absolute;
    top: -50px;
    right: -30px;
}

.pg #text {
    margin-top: 0.5em;
    margin-right: 2em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.pg #percent {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
}

.pg #symbol {
    text-align: right;
    font-size: 2em;
    margin-top: -0.75em;
}

@font-face {
    font-family: "Century";
    src: url("../font/Gothic.ttf");
}

.century {
    font-family: Century, serif;
}

#image, #video {
    position: absolute;
    top: -500px;
    width: 350px;
    height: auto;
}

#image {
    right: 600px;
}

#video {
    right: 200px;
}

.choice {
    text-shadow: 0 0 4px #000000;
    color: #eeeeee;
    width: 650px;
    margin-top: 3rem;
    font-size: 2.5em;
    line-height: 1.84em;
    background-image: url("../image/choice_normal.png");
}

.selectable:hover, .selectable:active {
    text-shadow: none;
    color: #b6da3d;
    background-size: auto;
    background-image: url("../image/choice_active.png");
}

.choice-container {
    position: absolute;
    z-index: 102;
}

.choice-container .popup {
    font-family: SimHei, serif;
    background-color: transparent;
    box-shadow: none;
}

div.popup {
    padding: 0;
}

.choice-of-miguel {
    background-image: url("../image/Result.png");
    width: 800px;
    height: 280px;
    position: absolute;
    z-index: 102;
    padding: 3.5em 5.5em;
}

.choice-of-miguel .popup {
    font-family: SimHei, serif;
    /*text-shadow: 0 0 4px #000000;*/
    color: #eeeeee;
    background-color: transparent;
    box-shadow: none;
}

.title {
    font-size: 3em;
    margin-left: 0;
    width: auto;
}

.result {
    font-size: 2.5em;
    line-height: 1.84em;
    margin: 0 auto .5em;
}

.text {
    margin-top: -0.2em;
    text-indent: 2em;
    font-size: 2em;
    color: #b4b4b4;
    text-align: left !important;
}
